* {
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto"; 
  
  }
  
  body{
    background-color: #071222;
  }
  body .nav {
    width: 100%;
    height: 150px;
    background-color: #1f2c41;
    display: flex; 
  }
    body .nav .menu {
      margin: auto;
      font-size: 60px; 
      color: white;
      
    }
  
  body h1 {
    text-align: center;
    margin: 100px auto 0px auto; 
    color: rgb(250, 132, 53);
  }
  
  body p {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 50px; 
    color: white;
  }
    body p a {
      text-decoration: none;
      color: #f55e56;
      margin: auto;
      text-align: center; 

    }
  
  body .btn {
    width: 100px;
    height: 40px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px; 
  }
    body .btn .btn-submit {
       
      
      text-decoration: none;
      width: 50px;
      height: 40px;
      background-color: rgb(250, 145, 8);
      border-radius: 20px;
      outline: none;
      border: 3px solid #ffffff; 
      float: right;
    }
  