* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto"; }

body .nav {
  width: 100%;
  height: 150px;
  background-color: #C2FAD9;
  display: flex; }
  body .nav .menu {
    margin: auto;
    font-size: 60px; }

body h1 {
  text-align: center;
  margin: 100px auto 0px auto; }

body p {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 50px; }
  body p a {
    text-decoration: none;
    color: #245d8b;
    margin: auto;
    text-align: center; }

body .btn {
  width: 100px;
  height: 40px;
  margin: auto;
  background-color: #cfcfcf;
  border-radius: 20px; 
   
}
  body .btn .btn-submit {
    text-decoration: none;
    width: 50px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    outline: none;
    border: 2px solid #585858;
    float: left;

    
  }
