$fuente: 'Roboto';
$azul: #1F2C41;
$rojo: #FF9791;
$verde: #C2FAD9;
$amarillo: #FDF78A;
$blanco: #F2F3F7;
$negro: #132746;

*{
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fuente;
}

body{

    .nav{
        width: 100%;
        height: 150px;
        background-color: $verde;
        display: flex;
        .menu{
           margin: auto;
           font-size: 60px
            

        }
    }
    h1{
        text-align: center;
        margin: 100px auto 0px auto;
    }

    p{
        text-align: center;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 50px;
        a{
            text-decoration: none;
            color: rgb(36, 93, 139);
            margin: auto;
            text-align: center;
            
            
        }
    }


    .btn{
        width: 100px;
        height: 40px;
        margin: auto;
        background-color: rgb(207, 207, 207);
        border-radius: 20px;
        
        
        .btn-submit{
            
            text-decoration: none;
            
            
            width: 50px;
            height: 40px;
            background-color: white;
            border-radius: 20px;
           outline: none;
          border: 2px solid rgb(88, 88, 88);
        }
       
        
    }
}

